@page "/login"


<form method="post" action="api/account/login">
    <input type="hidden" name="returnUrl" value="@ReturnUrl" />
    <input type="hidden" name="remember" value="@RememberMe.ToString()" />
    <AntiforgeryToken />
    <MudTextField T="string" @bind-Value="Email" Label="Email" Required=true name="email" />
    <MudTextField T="string" @bind-Value="Password" InputType="InputType.Password" Label="Password" Required=true name="password" />
    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
</form>

@code {

    private string? Email { get; set; }
    private string? Password { get; set; }
    private bool RememberMe { get; set; }

    [SupplyParameterFromQuery(Name = "returnUrl")]
    public string? ReturnUrl { get; set; }
}